*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-weight: bold;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 10rem 1fr auto;
}

.App-header {
  display: flex;
  align-items: center;
  /* border-bottom: 4px solid red; */
  color: red;
  padding: 1.5rem;
  height: 10rem;
}

.App-logo {
  height: 8rem;
}

.App-body {
  border-block: 4px solid red;
  padding: 2rem;
}

.App-footer {
  padding: 1rem;
  text-align: center;
}

.App-footer p {
  font-style: italic;
}